body{
  background-color: #8b8b8b8f;
 margin: 0;
 padding: 0;
}
.a{
  display: flex;
  flex-direction: row;
}
.c{
  display: flex;
  width: 50vw;
  align-items: center;
  flex-direction: column;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.b{
  background-color: rgba(63, 63, 63, 0.274);
  display: flex;
  justify-content: space-around;
  width: 50vw;
  height: 75vh;
  margin: 10px 0 0 0;
  border-radius: 10px;
}
.input{
  margin: 30px 0 0 0;
  width: 50vw;
  height: 30px;
  border: 3px solid rgba(0, 0, 0, 0.363);
  border-radius: 15px;
  background-color: #e9e9e9;

}
.button{
  width: 10vw;
  border: 0.5px solid rgba(0, 0, 0, 0.363);
  margin: 10px 0 0 0;
  border-radius: 15px;
  height: 30px;
  font-size: 20px;
  background-color: #e9e9e9;

}